In [1]:
# Data Preprocessing

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Data.csv')

In [3]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [26]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

In [4]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 3]

In [5]:
X

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [6]:
y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [27]:
from sklearn.preprocessing import Imputer

In [28]:
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)

In [30]:
imputer.fit(X[:, 1:3])

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [31]:
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [32]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [21]:
imputer.fit_transform(X[:,1:])

array([[  4.40000000e+01,   7.20000000e+04],
       [  2.70000000e+01,   4.80000000e+04],
       [  3.00000000e+01,   5.40000000e+04],
       [  3.80000000e+01,   6.10000000e+04],
       [  4.00000000e+01,   6.37777778e+04],
       [  3.50000000e+01,   5.80000000e+04],
       [  3.87777778e+01,   5.20000000e+04],
       [  4.80000000e+01,   7.90000000e+04],
       [  5.00000000e+01,   8.30000000e+04],
       [  3.70000000e+01,   6.70000000e+04]])

In [22]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [33]:
# Encoding categorical data
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])
onehotencoder = OneHotEncoder(categorical_features = [0])
X = onehotencoder.fit_transform(X).toarray()
# Encoding the Dependent Variable
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [36]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1], dtype=int64)